
/* NAVBAR */
.navbar{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1.4rem 7%;
	background-color: white;
	top: 0;
	left: 0;
	right: 0;
	z-index: 9999;}


.menu a{
	display: inline-block;
    color: black;
	font-size: 1.2rem;
	margin: 0.3rem;	
}

.menu a:hover{ 
	color: blue;
}

/* HERO SECTION START */
.content{
	padding: 1.4rem 7%;
	font-size: 1.5rem;
	font-family: 'Courier New', Courier, monospace;
	font-style: italic;
}
.Fas{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	font-size: 1.5rem;
	font-family: 'Courier New', Courier, monospace;
	font-style: italic;
	
}

.litas p{
	display: inline-block;
    flex-direction: row;
	margin-top: 5rem;
	margin-right: 5rem;

}

.bg{
	display:flex;
	flex-direction: row;
	justify-content: space-evenly;
	margin-left: 20rem;
}
.pesan{
	display: flex;
	padding: 1.4rem 7%;
font-size: 1.5rem;
font-family: 'Courier New', Courier, monospace;}

.form{
	margin-top: 5rem;
}
.hasil{
	margin-top: 5rem;
}

	
   
/* HERO SECTION END */


/* SECTION ABOUT START */

h4{
	font-size: 1.5rem;
	font-family: 'Courier New', Courier, monospace;
	font-style: italic;

}
.about{
	padding-top: 3rem;
	padding-left: 5.5rem;
	padding-right: 3rem;
	padding-bottom: 20rem;
	/* padding: 7%; */
	
}


.vismis{
	display: flex;
	flex-wrap: wrap;
}




	



	

/* SECTION ABOUT END */

/* SECTION ACHIVEMENT START */
.piagam{
	padding-top: 3rem;
	padding-left: 5.5rem;
	padding-right: 3rem;
	padding-bottom: 30rem;}
h5{
	font-size: 1.5rem;
	font-family: 'Courier New', Courier, monospace;
	font-style: italic;
}

.piala{
	display: flex;
	justify-content: space-evenly;
}
/* SECTION ACHIVEMENT END */
/* MEDIA QUERIES */



@media(max-width: 1366px){
    html{font-size: 100%;}
}


@media(max-width: 450px){
    html{font-size: 55%;
		
}}

/* MEDIA QUERIES */


	


